/*General styling*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{

  font-family: "Josefin Sans", sans-serif;

}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85, 85, 85);
}
/*transitions*/

a, .btn{
    transition: all 300ms ease;
    
}
/*navigation*/

nav,
.nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;

}
a:hover{
    color:rgb(152, 152, 152);
    text-decoration: none;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(152, 152, 152);
}
.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor: default;
}

/*Hamburger nav*/
#ham-nav{
    display: none;
}
.ham-menu{
    position: relative;
    display: inline-block;
}
.ham-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;

}
.ham-icon span{
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3 ease-in-out;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;

}
.menu-links.open{
    max-height: 300px;

}
.ham-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.ham-icon.open span:nth-child(2){
    opacity: 0;
}

.ham-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.ham-icon span:first-child{
    transform: none;
}
.ham-icon span:first-child{
    opacity: 1;
}
.ham-icon span:first-child{
    transform: none;
}


.res {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-width: 10px;
    margin-left: 40%;
    display: inline-block;
    padding: 15px 60px;               /* Add padding for better appearance */
    font-size: 24px;                  /* Adjust font size */
    text-align: center;               /* Center the text */
    text-decoration: none;            /* Remove underline */
    background-color: #000000;       /* Blue background color */
    color: white;                     /* White text color */
    border-radius: 25px;              /* Rounded corners */
    transition: background-color all 0.3s ease-in-out; /* Smooth transition for background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Change the background color on hover */
.res:hover {
    background-color: #5b5b5b;        /* Darker blue on hover */
}
.cv{
    display: block;
    height: 100%;
    overflow: hidden;
    object-fit: contain;

}
.img{
    width: 350px;
    height: 300px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 50%;
    cursor: pointer;
    transition: filter 0.3s;
    
    
}
.greyscale{
    filter: grayscale(100%);
}
.section__text{
    padding-left: 45%;
    text-align: center;
}
